.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2rem;
  background: #282c34;
}

.Main > * {
  margin-bottom: 3rem;
}

.Sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.SliderContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.SliderLabel {
  width: 100px;
  margin-right: 2rem;
}

.Slider {
  flex-grow: 1;
  margin-right: 2rem;
}